---
- name: Configure status of repositories
  ini_file:
    path: "{{ item.value.repo_file }}"
    section: "{{ item.value.id }}"
    option: enabled
    value: "{{ item.value.enabled | int }}"
  loop: "{{ repo_epel_repositories | dict2items }}"
